###########
# Exclude
###########
*~
/*
!/*/
!/.gitattributes
!/.gitignore
!/*.md
!/makefile.common
#########
# Ignore
#########
/cfg
/diff
/ini
/inp
/nvram
/obj
/snap
/sta
*.a
*.o
*.so
*.bak
*.backup
